
<div class="row">
    <div class="col-md-8">
        <div id="service-list" class="panel panel-default dashboard-list">
            <div class="panel-heading">
                <div style="float: right;">
                    <button class="btn btn-default fa fa-check" id="services-enable-change" title="Change"></button>
                    <button class="btn btn-primary" id="deploy-app" data-toggle="modal"
                        data-target="#deploy-app-dialog" translatable="yes">Deploy</button>
                </div>
                <span translatable="yes">MoXimo Services</span>
            </div>
            <div class="well blank-slate-pf spacious" ng-if="servicesState() == 'failed'">
                <div class="blank-slate-pf-icon">
                    <i ng-if="failure.status == 403" class="fa fa-lock"></i>
                    <i ng-if="failure.status != 403" class="fa fa-exclamation-circle"></i>
                </div>
                <h3 translatable="yes">Could not list services</h3>
                <p>{{failure.message}}</p>
            </div>
            <div class="well blank-slate-pf spacious" ng-if="servicesState() == 'empty'">
                <div class="blank-slate-pf-icon">
                    <i class="fa fa-rocket"></i>
                </div>
                <h3>No services present</h3>
                <p translatable="yes">You can deploy an application to your cluster.</p>
            </div>


            <table class="table table-hover" ng-if="servicesState() == 'ready'">
                <thead>
                    <tr>
                        <th translatable="yes">Name</th>
                        <th translatable="yes">Address</th>
                        <th translatable="yes">Containers</th>
                        <th translatable="yes" ng-if="client.flavor == 'openshift'">Project</th>
                        <th translatable="yes" ng-if="client.flavor != 'openshift'">Namespace</th>
                        <th translatable="yes">Actions</th>
                        <th translatable="yes">Detail</th>
                        <th class="status"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(id, service) in moximo_services"
                            data-name="{{service.live.metadata.name}}"
                            ng-class="{highlight: service.live.metadata.uid == highlighted}"
                            ng-mouseover="highlight(service.live.metadata.uid)" ng-mouseout="highlight(null)"
                            ng-if="!(service.live.metadata.namespace == 'default' && service.live.metadata.name == 'kubernetes')">
                        <!-- <td>{{moximo_services[service.metadata.name].label}}</td> -->
                        <td>{{service.label}}</td>
                        <td>
                            <kubernetes-address ng-init="item = service.live" ng-if="service.live != null">
                        </td>
                        <td class="containers">{{serviceContainers(service.live)}}</td>
                        <td ng-if="service.live == null">{{service.name}}</td>
                        <td ng-if="service.live != null">{{service.live.metadata.namespace}}</td>

                        <td ng-if="service.live == null">
                            <button style="display: block; z-index: -1"
                                class="btn btn-primary btn-dashboard" 
                                title="Start" 
                                id="toggle-service-button"
                                ng-click="console.log(service.name + ' clicked!!');"
                                >Start</button>
                        </td>


                        <td ng-if="service.live != null">
                            <button style="display: block; z-index: -1"
                                class="btn btn-primary btn-dashboard" 
                                title="Stop"
                                id="toggle-service-button"
                                ng-click="stopService('STOP SERVICE: ' )"
                                >Stop</button>
                        </td>


                        <td>
                            <button style="display: block; z-index: -1"
                                class="btn btn-primary btn-dashboard" 
                                title="Detail"
                                ng-click="jumpService($event, service)">Detail</button>
                        </td>

                        <td class="status" ng-init="item = service.live">
                            <button title="Adjust" class="btn btn-default adjust-service pficon pficon-edit"
                                data-toggle="modal" data-target="#adjust-dialog"
                                data-id="{{id}}"></button>
                            <span kubernetes-status-icon status="serviceStatus(service.live)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <div id="node-list" class="panel panel-default dashboard-list">
            <div class="panel-heading">
                <span style="float: right;">
                    <button title="Add Kubernetes Node" id="add-node" class="btn btn-primary fa fa-plus"
                        data-toggle="modal" data-target="#node-dialog"></button>
                </span>
                <span translatable="yes">MoXimo Nodes</span>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th translatable="yes">Machines</th>
                        <th translatable="yes">Address</th>
                        <th translatable="yes">Containers</th>
                        <th class="status"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="node in nodes">
                        <td>{{node.metadata.name}}</td>
                        <td>{{node.spec.externalID}}</td>
                        <td class="containers">{{nodeContainers(node)}}</td>
                        <td class="status">
                            <span kubernetes-status-icon status="nodeStatus(node)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
